
#Ignore Python virtual environment and instance folder
venv/
instance/

#Ignore VSCode settings
.vscode/


#Ignore Python cache files
__pycache__/
*.pyc   

# Ignore SQLite database file
*.db
finance_symbols.db

