# Ignore .env files
.env

# Ignore virtual environment folders
venv/
venv*/

# Ignore database files
*.db
*.db-journal
*.sqlite3

# Ignore .cbm files
*.cbm

# Ignore CatBoost training files
catboost_training.json
*.tsv
*.tfevents

# Ignore compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Ignore VS Code files
.vscode/

# Other typical ignores
.DS_Store
Thumbs.db
